<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>save</title>
  </head>
  <body>
    <form action="/board/save" method="post">
      <!-- 작성자 -->
      writer: <input type="text" name="boardWriter" /> <br />

      <!-- 글에 대한 비밀번호 -->
      pass: <input type="text" name="boardPass" /> <br />

      <!-- 제목 -->
      title: <input type="text" name="boardTitle" /> <br />

      <!-- 내용 -->
      contents: <textarea name="boardContents" cols="30" rows="10"></textarea>
      <br />

      <input type="submit" value="글작성" />
    </form>
  </body>
</html>
